<table border="1"><thead><tr><th>测试资源类</th><th>描述</th><th>接口模块</th></tr></thead><tbody><tr><td>Port</td><td>
    代表所有端口类
    </td><td></td></tr><tr><td>Device</td><td>
    代表所有测试设备类
    </td><td></td></tr><tr><td>MonitorDevice</td><td>
    商显设备类
    </td><td></td></tr><tr><td>TabletDevice</td><td>
    平板设备类
    </td><td></td></tr><tr><td>PhoneDevice</td><td>
    手机设备类
    </td><td></td></tr><tr><td>TVDevice</td><td>
    电视设备类
    </td><td><table border="1"><thead><tr><th>模块类名称</th><th>模块类描述</th><th>方法</th></tr></thead><tbody><tr><td>BluetoothWrapperModule</td><td>
    TCLTV测试设备源封装接口蓝牙模块类
    </td><td></td></tr><tr><td>ChannelWrapperModule</td><td>
    TCLTV测试设备源封装接口Channel模块类
    </td><td></td></tr><tr><td>FactoryModeWrapperModule</td><td>
    TCLTV测试设备源封装接口工厂模式模块类
    </td><td></td></tr><tr><td>MultimediaWrapperModule</td><td>
    TCLTV测试设备源封装接口多媒体模块类
    </td><td></td></tr><tr><td>PowerWrapperModule</td><td>
    TCLTV测试设备源封装接口电源模块类
    </td><td></td></tr><tr><td>SettingsWrapperModule</td><td>
    TCLTV测试设备源封装接口设置模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>check_and_install_app</td><td>检查是否安装指定包名apk，未安装则安装指定路径下apk</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>package_name</td><td>_empty</td><td></td></tr><tr><td>package_path</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>check_and_start_grpc_service</td><td>检查 GRPC 服务是否启动，如果未启动则尝试启动并检查是否在超时内成功启动。
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>time_out</td><td>_empty</td><td>10</td></tr></tbody></table></td><td>None</td></tr><tr><td>check_keyword_in_tabs</td><td>在Tab页检查是否有关键字
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>time_out</td><td>_empty</td><td>120</td></tr></tbody></table></td><td>bool</td></tr><tr><td>check_pre_install_cmd</td><td>检查是否执行安装前置指令</td><td></td><td>None</td></tr><tr><td>check_pre_install_cmd_and_excute</td><td>检查是否执行安装前置指令,没有则执行</td><td></td><td>None</td></tr><tr><td>connect_wifi</td><td>连接指定wifi热点

参数:
wifi_name (string类型): wifi名
wifi_pwd (string类型): wifi密码</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>wifi_name</td><td>_empty</td><td></td></tr><tr><td>wifi_pwd</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>enter_all_settings</td><td>进入全部设置界面</td><td></td><td>None</td></tr><tr><td>enter_home</td><td>进入TV主页</td><td></td><td>None</td></tr><tr><td>enter_level_menu</td><td>进入设置应用的多级菜单</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>menus</td><td>list</td><td></td></tr><tr><td>last_enter</td><td>_empty</td><td>True</td></tr><tr><td>find_direction</td><td>_empty</td><td>True</td></tr></tbody></table></td><td>None</td></tr><tr><td>enter_settings_menu_check_hdmi_control_value</td><td>进入设置菜单检查HDMI设备控制开关是否打开</td><td></td><td>None</td></tr><tr><td>enter_settings_menu_do_factory_reset</td><td>进入设置菜单做恢复出厂设置操作</td><td></td><td>None</td></tr><tr><td>enter_smart_desktop</td><td>跳转到灵动桌面</td><td></td><td>None</td></tr><tr><td>enter_standard_desktop</td><td>跳转到标准桌面</td><td></td><td>None</td></tr><tr><td>enter_vod_play_video_and_check</td><td>进入vod播放视频,并检查是否成功</td><td></td><td>None</td></tr><tr><td>excute_pre_install_cmd</td><td>执行安装前置指令</td><td></td><td>None</td></tr><tr><td>get_audio_option</td><td>获取音效
</td><td></td><td>int</td></tr><tr><td>get_image_text3</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>file_path</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>get_ip</td><td>None</td><td></td><td>None</td></tr><tr><td>get_picture_mode</td><td>获取图效
</td><td></td><td>None</td></tr><tr><td>init</td><td>None</td><td></td><td>None</td></tr><tr><td>init_adb_and_u2</td><td>初始化adb和uiautomator2</td><td></td><td>None</td></tr><tr><td>init_grpc</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>ip</td><td>str</td><td>None</td></tr><tr><td>port</td><td>int</td><td>60000</td></tr></tbody></table></td><td>None</td></tr><tr><td>init_remote</td><td>初始化红外工具类</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>remote_port</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>init_serial</td><td>初始化串口</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>serial_port</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>number_in_string</td><td>检查目标字符串中是否存在完整的数字。

参数:
    number: 要检查的数字。
    target_string: 目标字符串。
返回:
    布尔值: 如果完整的数字存在于目标字符串中，则返回 True，否则返回 False。</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>number</td><td>_empty</td><td></td></tr><tr><td>target_string</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_audio_option_by_grpc</td><td>设置音效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_picture_mode</td><td>设置图效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>bool</td></tr><tr><td>skip_startup_wizard</td><td>跳过开机向导</td><td></td><td>None</td></tr></tbody></table></td></tr><tr><td>UIWrapperModule</td><td>
    TCLTV测试设备源封装接口UI模块类
    </td><td></td></tr><tr><td>WIFIWrapperModule</td><td>
    TCLTV测试设备源封装接口WIFI模块类
    </td><td></td></tr><tr><td>YoutubeWrapperModule</td><td>
    TCLTV测试设备源封装接口Youtube模块类
    </td><td></td></tr><tr><td>SettingsWrapperModule</td><td>
    TCLTV测试设备源封装接口设置模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>check_and_install_app</td><td>检查是否安装指定包名apk，未安装则安装指定路径下apk</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>package_name</td><td>_empty</td><td></td></tr><tr><td>package_path</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>check_and_start_grpc_service</td><td>检查 GRPC 服务是否启动，如果未启动则尝试启动并检查是否在超时内成功启动。
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>time_out</td><td>_empty</td><td>10</td></tr></tbody></table></td><td>None</td></tr><tr><td>check_keyword_in_tabs</td><td>在Tab页检查是否有关键字
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>time_out</td><td>_empty</td><td>120</td></tr></tbody></table></td><td>bool</td></tr><tr><td>check_pre_install_cmd</td><td>检查是否执行安装前置指令</td><td></td><td>None</td></tr><tr><td>check_pre_install_cmd_and_excute</td><td>检查是否执行安装前置指令,没有则执行</td><td></td><td>None</td></tr><tr><td>connect_wifi</td><td>连接指定wifi热点

参数:
wifi_name (string类型): wifi名
wifi_pwd (string类型): wifi密码</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>wifi_name</td><td>_empty</td><td></td></tr><tr><td>wifi_pwd</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>enter_all_settings</td><td>进入全部设置界面</td><td></td><td>None</td></tr><tr><td>enter_home</td><td>进入TV主页</td><td></td><td>None</td></tr><tr><td>enter_level_menu</td><td>进入设置应用的多级菜单</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>menus</td><td>list</td><td></td></tr><tr><td>last_enter</td><td>_empty</td><td>True</td></tr><tr><td>find_direction</td><td>_empty</td><td>True</td></tr></tbody></table></td><td>None</td></tr><tr><td>enter_settings_menu_check_hdmi_control_value</td><td>进入设置菜单检查HDMI设备控制开关是否打开</td><td></td><td>None</td></tr><tr><td>enter_settings_menu_do_factory_reset</td><td>进入设置菜单做恢复出厂设置操作</td><td></td><td>None</td></tr><tr><td>enter_smart_desktop</td><td>跳转到灵动桌面</td><td></td><td>None</td></tr><tr><td>enter_standard_desktop</td><td>跳转到标准桌面</td><td></td><td>None</td></tr><tr><td>enter_vod_play_video_and_check</td><td>进入vod播放视频,并检查是否成功</td><td></td><td>None</td></tr><tr><td>excute_pre_install_cmd</td><td>执行安装前置指令</td><td></td><td>None</td></tr><tr><td>get_audio_option</td><td>获取音效
</td><td></td><td>int</td></tr><tr><td>get_image_text3</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>file_path</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>get_ip</td><td>None</td><td></td><td>None</td></tr><tr><td>get_picture_mode</td><td>获取图效
</td><td></td><td>None</td></tr><tr><td>init</td><td>None</td><td></td><td>None</td></tr><tr><td>init_adb_and_u2</td><td>初始化adb和uiautomator2</td><td></td><td>None</td></tr><tr><td>init_grpc</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>ip</td><td>str</td><td>None</td></tr><tr><td>port</td><td>int</td><td>60000</td></tr></tbody></table></td><td>None</td></tr><tr><td>init_remote</td><td>初始化红外工具类</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>remote_port</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>init_serial</td><td>初始化串口</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>serial_port</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>number_in_string</td><td>检查目标字符串中是否存在完整的数字。

参数:
    number: 要检查的数字。
    target_string: 目标字符串。
返回:
    布尔值: 如果完整的数字存在于目标字符串中，则返回 True，否则返回 False。</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>number</td><td>_empty</td><td></td></tr><tr><td>target_string</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_audio_option_by_grpc</td><td>设置音效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_picture_mode</td><td>设置图效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>bool</td></tr><tr><td>skip_startup_wizard</td><td>跳过开机向导</td><td></td><td>None</td></tr></tbody></table></td></tr><tr><td>CommSerialWrapperModule</td><td>
    TCLTV测试设备源封装接口指令串口模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>get_ip_addresses</td><td>获取IP地址
</td><td></td><td>list</td></tr><tr><td>install_grpc_apk</td><td>安装grpc apk
</td><td></td><td>None</td></tr><tr><td>is_grpc_apk_installed</td><td>检查gRPC apk是否安装
</td><td></td><td>bool</td></tr><tr><td>is_grpc_service_up</td><td>检查gRPC服务启动状态
</td><td></td><td>bool</td></tr><tr><td>start_grpc_service</td><td>启动gRPC服务
</td><td></td><td>None</td></tr></tbody></table></td></tr><tr><td>DemoAtomModule</td><td>
    TCLTV测试设备源原子接口DEMO模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>foo</td><td>无参数、无返回值
</td><td></td><td>None</td></tr><tr><td>foo2</td><td>有参数、无默认值、无返回值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>param1</td><td>int</td><td></td></tr><tr><td>param2</td><td>str</td><td></td></tr><tr><td>param3</td><td>bool</td><td></td></tr><tr><td>param4</td><td>bytes</td><td></td></tr><tr><td>param5</td><td>float</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>foo3</td><td>有参数、有默认值、无返回值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>param1</td><td>int</td><td>0</td></tr><tr><td>param2</td><td>str</td><td>Hello World</td></tr><tr><td>param3</td><td>bool</td><td>False</td></tr><tr><td>param4</td><td>bytes</td><td></td></tr><tr><td>param5</td><td>float</td><td>1.2</td></tr></tbody></table></td><td>None</td></tr><tr><td>foo4</td><td>有参数、有默认值、有返回值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>param1</td><td>int</td><td>0</td></tr><tr><td>param2</td><td>str</td><td>Hello World</td></tr><tr><td>param3</td><td>bool</td><td>False</td></tr><tr><td>param4</td><td>bytes</td><td>Hello World</td></tr><tr><td>param5</td><td>float</td><td>1.2</td></tr></tbody></table></td><td>str</td></tr></tbody></table></td></tr><tr><td>ADBAtomModule</td><td>
    TCLTV测试设备源原子接口ADB连接模块类
    </td><td></td></tr><tr><td>AudioAtomModule</td><td>
    TCLTV测试设备源原子接口音频模块类
    </td><td></td></tr><tr><td>CaptureCardAtomModule</td><td>
    TCLTV测试设备源原子接口采集卡模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>read</td><td>读取图像数据
</td><td></td><td>tuple</td></tr><tr><td>record_video</td><td>录制视频
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>duration</td><td>int</td><td>10</td></tr><tr><td>size</td><td>tuple</td><td><ul><li>1920</li><li>1080</li></ul></td></tr></tbody></table></td><td>str</td></tr><tr><td>take_picture</td><td>将当前图像保存到图片文件
</td><td></td><td>str</td></tr></tbody></table></td></tr><tr><td>CommSerialAtomModule</td><td>
    TCLTV测试设备源原子接口指令串口模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>interrupt</td><td>写入Ctrl+C，强制退出在执行的命令
</td><td></td><td>None</td></tr><tr><td>read</td><td>从串口读取指定字节的数据
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>size</td><td>int</td><td>1024</td></tr></tbody></table></td><td>bytes</td></tr><tr><td>read_all</td><td>从串口读取所有数据
</td><td></td><td>bytes</td></tr><tr><td>readline</td><td>从串口读取一行数据
</td><td></td><td>bytes</td></tr><tr><td>readlines</td><td>从串口读取多行数据
</td><td></td><td>bytes</td></tr><tr><td>search_all</td><td>从串口读取的数据中搜索关键字，发现所有关键字，返回True，否则超时后返回False
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>timeout</td><td>int</td><td>20</td></tr></tbody></table></td><td>bool</td></tr><tr><td>search_one</td><td>从串口读取的数据中搜索关键字，只要发现任意一个关键字，即可返回True，否则超时后返回False
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>timeout</td><td>int</td><td>5</td></tr></tbody></table></td><td>bool</td></tr><tr><td>send_command</td><td>发送命令
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>send_hex_command</td><td>发送hex命令
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>bytes</td></tr><tr><td>write</td><td>写入字符串数据
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>write_hex</td><td>写入hex数据，如 `A1 B2 C3`
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr></tbody></table></td></tr><tr><td>GRPCAtomModule</td><td>
    TCLTV测试设备源原子接口gRPC模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>check_heart_beat</td><td>gRPC心跳检测接口
</td><td></td><td>str</td></tr><tr><td>get_audio_option</td><td>获取音效
</td><td></td><td>int</td></tr><tr><td>get_picture_mode</td><td>获取图效
</td><td></td><td>None</td></tr><tr><td>set_audio_option_by_grpc</td><td>设置音效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_picture_mode</td><td>设置图效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>bool</td></tr></tbody></table></td></tr><tr><td>InfraredSerialAtomModule</td><td>
    TCLTV测试设备源原子接口红外遥控串口模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>read_all</td><td>从串口读取所有数据
</td><td></td><td>bytes</td></tr><tr><td>send_hex_command</td><td>发送hex命令
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>bytes</td></tr><tr><td>send_key</td><td>发送键码，若指定键key，则通过KEYCODES键码表查询其码code，
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>key</td><td>str</td><td>None</td></tr><tr><td>code</td><td>str</td><td>None</td></tr><tr><td>keycodes</td><td>dict</td><td><table border="1"><tr><th>CAMERA</th><td></td></tr><tr><th>POWER</th><td>FE DF 4F 05 AB E1</td></tr><tr><th>MUTE</th><td>FE DF CF 0F 03 C3</td></tr><tr><th>.</th><td></td></tr><tr><th>0</th><td>FE DF CF 00 F3 3C</td></tr><tr><th>1</th><td>FE DF CF 08 73 B4</td></tr><tr><th>2</th><td>FE DF CF 04 B3 78</td></tr><tr><th>3</th><td>FE DF CF 0C 33 F0</td></tr><tr><th>4</th><td>FE DF CF 02 D3 1E</td></tr><tr><th>5</th><td>FE DF CF 0A 53 96</td></tr><tr><th>6</th><td>FE DF CF 06 93 5A</td></tr><tr><th>7</th><td>FE DF CF 0E 13 D2</td></tr><tr><th>8</th><td>FE DF CF 01 E3 2D</td></tr><tr><th>9</th><td>FE DF CF 09 63 A5</td></tr><tr><th>UP</th><td>FE DF AF 09 65 C3</td></tr><tr><th>DOWN</th><td>FE DF AF 01 E5 4B</td></tr><tr><th>LEFT</th><td>FE DF AF 06 95 3C</td></tr><tr><th>RIGHT</th><td>FE DF AF 0E 15 B4</td></tr><tr><th>OK</th><td>FE DF FF 02 D0 2D</td></tr><tr><th>HOME</th><td>FE DF 0F 01 EF E1</td></tr><tr><th>VOLUME+</th><td>FE DF 4F 0F 0B 4B</td></tr><tr><th>VOLUME-</th><td>FE DF 4F 07 8B C3</td></tr><tr><th>P+</th><td>FE DF 4F 0B 4B 0F</td></tr><tr><th>P-</th><td>FE DF 4F 03 CB 87</td></tr><tr><th>RED</th><td>FE DF 0F 00 FF F0</td></tr><tr><th>GREEN</th><td>FE DF 7F 01 E8 96</td></tr><tr><th>YELLOW</th><td>FE DF 7F 02 D8 A5</td></tr><tr><th>BLUE</th><td>FE DF BF 01 E4 5A</td></tr><tr><th>PICTURE</th><td></td></tr><tr><th>EPG</th><td></td></tr><tr><th>TV</th><td></td></tr><tr><th>MEDIA</th><td></td></tr><tr><th>SETTING</th><td>FE DF 3F 0F 0C 3C</td></tr><tr><th>FREEZE</th><td></td></tr><tr><th>INFO</th><td></td></tr><tr><th>CN-INFO</th><td></td></tr><tr><th>SOURCE</th><td>FE DF 5F 0C 3A 69</td></tr><tr><th>NEXT</th><td></td></tr><tr><th>PLAY</th><td>FE DF 8F 0A 57 D2</td></tr><tr><th>PAUSE</th><td>FE DF 8F 09 67 E1</td></tr><tr><th>FAST-BACK</th><td>FE DF 8F 0B 47 C3</td></tr><tr><th>FAST-FORWARD</th><td>FE DF 8F 03 C7 4B</td></tr><tr><th>STOP</th><td>FE DF 8F 0F 07 87</td></tr><tr><th>LIST</th><td>FE DF 6F 08 79 1E</td></tr><tr><th>OPTION</th><td>FE DF 7F 03 C8 B4</td></tr><tr><th>MENU</th><td>FE DF 9F 0B 46 D2</td></tr><tr><th>EXIT</th><td>FE DF 0F 06 9F 96</td></tr><tr><th>BACK</th><td>FE DF 4F 0E 1B 5A</td></tr><tr><th>LANGUAGE</th><td>FE DF BF 0F 04 B4</td></tr><tr><th>SUBTITLE</th><td>FE DF 1F 00 FE E1</td></tr><tr><th>TEXT</th><td>FE DF 8F 07 87 0F</td></tr><tr><th>ZOOM</th><td></td></tr><tr><th>NETFLIX</th><td>FE DF 7F 0F 08 78</td></tr><tr><th>YOUTUBE</th><td></td></tr><tr><th>AMAZON</th><td></td></tr><tr><th>T</th><td></td></tr><tr><th>HISTORY</th><td></td></tr><tr><th>CINEMA</th><td></td></tr><tr><th>F-BACK</th><td>FE DF 4F 0E 1B 5A</td></tr><tr><th>F-P-IN</th><td>FE EF 35 A0 FC 03</td></tr><tr><th>F-P-OUT</th><td>FE DF 35 A0 FC 69</td></tr><tr><th>F-P-EXIT</th><td></td></tr><tr><th>F-PW-ENTER</th><td>FE DF 79 65 A8 B4</td></tr><tr><th>F-PW-EXIT</th><td>FE DF 79 6D 28 3C</td></tr><tr><th>F-OOB</th><td>FE DF B9 68 74 A5</td></tr><tr><th>F-AV1</th><td>FE DF FE 17 80 69</td></tr><tr><th>F-AV2</th><td>FE DF FE 1B 40 A5</td></tr><tr><th>F-VGA</th><td>FE DF FE 11 E0 0F</td></tr><tr><th>F-HDMI1</th><td>FE DF FE 1E 10 F0</td></tr><tr><th>F-HDMI2</th><td>FE DF FE 16 90 78</td></tr><tr><th>F-HDMI3</th><td>FE DF FE 1A 50 B4</td></tr><tr><th>F-HDMI4</th><td>FE DF FE 12 D0 3C</td></tr><tr><th>F-USB</th><td>FE DF FE 1C 30 D2</td></tr><tr><th>F-3D-ON</th><td>FE DF 3E 18 7C 5A</td></tr><tr><th>F-3D-OFF</th><td>FE DF 3E 14 BC 96</td></tr><tr><th>F-SOURCE</th><td>FE DF 5F 0C 3A 69</td></tr><tr><th>F-MIC-ON</th><td>FE DF 7E 16 98 F0</td></tr><tr><th>F-MIC-OFF</th><td>FE DF 7E 1E 18 78</td></tr><tr><th>F-WIFI</th><td>FE DF 79 64 B8 A5</td></tr><tr><th>F-MUTE-ON</th><td>FE DF 7E 19 68 0F</td></tr><tr><th>F-MUTE-OFF</th><td>FE DF 7E 11 E8 87</td></tr><tr><th>F-C-TEMP</th><td>FE DF BE 1E 14 B4</td></tr><tr><th>F-M1</th><td>FE DF DE 11 E2 2D</td></tr><tr><th>F-M2</th><td>FE DF DE 1E 12 D2</td></tr><tr><th>F-SN-ON</th><td>FE DF 7E 15 A8 C3</td></tr><tr><th>F-SN-OFF</th><td>FE DF 7E 1D 28 4B</td></tr><tr><th>F-L-SR-ON</th><td>FE DF 7E 1B 48 2D</td></tr><tr><th>F-L-SR-OFF</th><td>FE DF 7E 13 C8 A5</td></tr><tr><th>THREE-IN</th><td></td></tr><tr><th>TCL-HOME</th><td>FE DF EF 0F 01 E1</td></tr><tr><th>LIGHT+</th><td>FE DF 6F 06 99 F0</td></tr><tr><th>LIGHT-</th><td>FE DF 6F 0A 59 3C</td></tr><tr><th>IMAGE-TYPE</th><td>FE DF 6F 02 D9 B4</td></tr><tr><th>AV1</th><td>FE DF FE 17 80 69</td></tr><tr><th>AV2</th><td>FE DF FE 1B 40 A5</td></tr><tr><th>VGA</th><td>FE DF 9E 18 76 F0</td></tr><tr><th>HDMI1</th><td>FE DF FE 1E 10 F0</td></tr><tr><th>HDMI2</th><td>FE DF FE 16 90 78</td></tr><tr><th>HDMI3</th><td>FE DF FE 1A 50 B4</td></tr><tr><th>HDMI4</th><td>FE DF FE 12 D0 3C</td></tr><tr><th>CMP1</th><td>FE DF FE 15 A0 4B</td></tr><tr><th>CMP2</th><td>FE DF FE 19 60 87</td></tr><tr><th>USB</th><td>FE DF FE 1C 30 D2</td></tr><tr><th>P</th><td>FE DF 35 A0 FC 69</td></tr><tr><th>PW</th><td>FE DF 79 6D 28 3C</td></tr><tr><th>WIFI</th><td>FE DF 79 64 B8 A5</td></tr><tr><th>MIC</th><td>FE DF 7E 16 98 F0</td></tr><tr><th>3D</th><td>FE DF 3E 14 BC 96</td></tr><tr><th>SN</th><td>FE DF 7E 15 A8 C3</td></tr><tr><th>D.TEST</th><td>FE DF 79 6C 38 2D</td></tr><tr><th>SIZE</th><td>FE DF 75 A6 98 4B</td></tr><tr><th>PATTLE</th><td>FE DF 19 60 FE 87</td></tr><tr><th>C.TEMP</th><td>FE DF BE 1E 14 B4</td></tr><tr><th>PAT</th><td>FE DF 0F 00 FF F0</td></tr><tr><th>M1</th><td>FE DF DE 1E 12 D2</td></tr><tr><th>M2</th><td>FE DF DE 16 92 5A</td></tr><tr><th>SET</th><td>FE DF BF 01 E4 5A</td></tr></table></td></tr></tbody></table></td><td>None</td></tr><tr><td>write_hex</td><td>写入hex数据，如 `A1 B2 C3`
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr></tbody></table></td></tr><tr><td>PowerAtomModule</td><td>
    TCLTV测试设备源原子接口电源模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>power_off</td><td>给TCL TV设备断电
</td><td></td><td>bool</td></tr><tr><td>power_on</td><td>给TCL TV设备上电
</td><td></td><td>bool</td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td>AndroidDevice</td><td>
    安卓设备类
    </td><td></td></tr><tr><td>TestBotSoftware</td><td>
    TestBot测试软件类
    </td><td><table border="1"><thead><tr><th>模块类名称</th><th>模块类描述</th><th>方法</th></tr></thead><tbody><tr><td>DocWrapperModule</td><td>
    TestBot测试软件源封装接口文档模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>get_apis</td><td>获取原子接口和封装接口的API数据
</td><td></td><td>list</td></tr><tr><td>get_module_apis</td><td>获取模块的API数据
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>mod</td><td>module</td><td></td></tr></tbody></table></td><td>dict</td></tr><tr><td>import_modules_from_atom_pkg</td><td>导入原子接口包路径下的所有模块
</td><td></td><td>list</td></tr><tr><td>import_modules_from_wrapper_pkg</td><td>导入封装接口包路径下的所有模块
</td><td></td><td>list</td></tr></tbody></table></td></tr><tr><td>DocAtomModule</td><td>
    TestBot测试软件源原子接口文档模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>get_class_doc</td><td>获取类对象文档
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>clazz</td><td>object</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>get_class_funcs</td><td>获取类对象的方法对象字典
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>clazz</td><td>object</td><td></td></tr></tbody></table></td><td>dict</td></tr><tr><td>get_func_doc</td><td>获取方法对象的文档
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>func</td><td>typing._VariadicGenericAlias</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>get_func_param_info</td><td>获取方法对象的参数信息，如参数名称、参数类型、参数默认值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>func</td><td>typing._VariadicGenericAlias</td><td></td></tr></tbody></table></td><td>list</td></tr><tr><td>get_func_param_info_from_class_doc</td><td>从类文档里提取方法参数信息，包括参数描述、参数类型、参数默认值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>func</td><td>typing._VariadicGenericAlias</td><td></td></tr><tr><td>arg_name</td><td>str</td><td></td></tr></tbody></table></td><td>tuple</td></tr><tr><td>get_func_returned_type</td><td>获取方法对象的返回值类型
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>func</td><td>typing._VariadicGenericAlias</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>get_module_doc</td><td>获取模块文档
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>mod</td><td>module</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>get_modulebase_sub_classes</td><td>获取python模块的所有ModuleBase子类
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>mod</td><td>module</td><td></td></tr></tbody></table></td><td>list</td></tr><tr><td>get_obj_pkg_path</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>obj</td><td>object</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>get_subclasses</td><td>获取类的子孙类
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>clazz</td><td>_empty</td><td></td></tr></tbody></table></td><td>list</td></tr><tr><td>import_modules_from_pkg</td><td>导入指定包路径下的所有模块
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>path</td><td>str</td><td></td></tr><tr><td>name</td><td>str</td><td></td></tr></tbody></table></td><td>list</td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td>Service</td><td>
    代表所有测试服务类
    </td><td></td></tr><tr><td>TCLTVDevice</td><td>
    TCL电视设备类
    </td><td><table border="1"><thead><tr><th>模块类名称</th><th>模块类描述</th><th>方法</th></tr></thead><tbody><tr><td>BluetoothWrapperModule</td><td>
    TCLTV测试设备源封装接口蓝牙模块类
    </td><td></td></tr><tr><td>ChannelWrapperModule</td><td>
    TCLTV测试设备源封装接口Channel模块类
    </td><td></td></tr><tr><td>FactoryModeWrapperModule</td><td>
    TCLTV测试设备源封装接口工厂模式模块类
    </td><td></td></tr><tr><td>MultimediaWrapperModule</td><td>
    TCLTV测试设备源封装接口多媒体模块类
    </td><td></td></tr><tr><td>PowerWrapperModule</td><td>
    TCLTV测试设备源封装接口电源模块类
    </td><td></td></tr><tr><td>SettingsWrapperModule</td><td>
    TCLTV测试设备源封装接口设置模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>check_and_install_app</td><td>检查是否安装指定包名apk，未安装则安装指定路径下apk</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>package_name</td><td>_empty</td><td></td></tr><tr><td>package_path</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>check_and_start_grpc_service</td><td>检查 GRPC 服务是否启动，如果未启动则尝试启动并检查是否在超时内成功启动。
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>time_out</td><td>_empty</td><td>10</td></tr></tbody></table></td><td>None</td></tr><tr><td>check_keyword_in_tabs</td><td>在Tab页检查是否有关键字
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>time_out</td><td>_empty</td><td>120</td></tr></tbody></table></td><td>bool</td></tr><tr><td>check_pre_install_cmd</td><td>检查是否执行安装前置指令</td><td></td><td>None</td></tr><tr><td>check_pre_install_cmd_and_excute</td><td>检查是否执行安装前置指令,没有则执行</td><td></td><td>None</td></tr><tr><td>connect_wifi</td><td>连接指定wifi热点

参数:
wifi_name (string类型): wifi名
wifi_pwd (string类型): wifi密码</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>wifi_name</td><td>_empty</td><td></td></tr><tr><td>wifi_pwd</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>enter_all_settings</td><td>进入全部设置界面</td><td></td><td>None</td></tr><tr><td>enter_home</td><td>进入TV主页</td><td></td><td>None</td></tr><tr><td>enter_level_menu</td><td>进入设置应用的多级菜单</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>menus</td><td>list</td><td></td></tr><tr><td>last_enter</td><td>_empty</td><td>True</td></tr><tr><td>find_direction</td><td>_empty</td><td>True</td></tr></tbody></table></td><td>None</td></tr><tr><td>enter_settings_menu_check_hdmi_control_value</td><td>进入设置菜单检查HDMI设备控制开关是否打开</td><td></td><td>None</td></tr><tr><td>enter_settings_menu_do_factory_reset</td><td>进入设置菜单做恢复出厂设置操作</td><td></td><td>None</td></tr><tr><td>enter_smart_desktop</td><td>跳转到灵动桌面</td><td></td><td>None</td></tr><tr><td>enter_standard_desktop</td><td>跳转到标准桌面</td><td></td><td>None</td></tr><tr><td>enter_vod_play_video_and_check</td><td>进入vod播放视频,并检查是否成功</td><td></td><td>None</td></tr><tr><td>excute_pre_install_cmd</td><td>执行安装前置指令</td><td></td><td>None</td></tr><tr><td>get_audio_option</td><td>获取音效
</td><td></td><td>int</td></tr><tr><td>get_image_text3</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>file_path</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>get_ip</td><td>None</td><td></td><td>None</td></tr><tr><td>get_picture_mode</td><td>获取图效
</td><td></td><td>None</td></tr><tr><td>init</td><td>None</td><td></td><td>None</td></tr><tr><td>init_adb_and_u2</td><td>初始化adb和uiautomator2</td><td></td><td>None</td></tr><tr><td>init_grpc</td><td>None</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>ip</td><td>str</td><td>None</td></tr><tr><td>port</td><td>int</td><td>60000</td></tr></tbody></table></td><td>None</td></tr><tr><td>init_remote</td><td>初始化红外工具类</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>remote_port</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>init_serial</td><td>初始化串口</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>serial_port</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>number_in_string</td><td>检查目标字符串中是否存在完整的数字。

参数:
    number: 要检查的数字。
    target_string: 目标字符串。
返回:
    布尔值: 如果完整的数字存在于目标字符串中，则返回 True，否则返回 False。</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>number</td><td>_empty</td><td></td></tr><tr><td>target_string</td><td>_empty</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_audio_option_by_grpc</td><td>设置音效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_picture_mode</td><td>设置图效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>bool</td></tr><tr><td>skip_startup_wizard</td><td>跳过开机向导</td><td></td><td>None</td></tr></tbody></table></td></tr><tr><td>UIWrapperModule</td><td>
    TCLTV测试设备源封装接口UI模块类
    </td><td></td></tr><tr><td>WIFIWrapperModule</td><td>
    TCLTV测试设备源封装接口WIFI模块类
    </td><td></td></tr><tr><td>YoutubeWrapperModule</td><td>
    TCLTV测试设备源封装接口Youtube模块类
    </td><td></td></tr><tr><td>CommSerialWrapperModule</td><td>
    TCLTV测试设备源封装接口指令串口模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>get_ip_addresses</td><td>获取IP地址
</td><td></td><td>list</td></tr><tr><td>install_grpc_apk</td><td>安装grpc apk
</td><td></td><td>None</td></tr><tr><td>is_grpc_apk_installed</td><td>检查gRPC apk是否安装
</td><td></td><td>bool</td></tr><tr><td>is_grpc_service_up</td><td>检查gRPC服务启动状态
</td><td></td><td>bool</td></tr><tr><td>start_grpc_service</td><td>启动gRPC服务
</td><td></td><td>None</td></tr></tbody></table></td></tr><tr><td>DemoAtomModule</td><td>
    TCLTV测试设备源原子接口DEMO模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>foo</td><td>无参数、无返回值
</td><td></td><td>None</td></tr><tr><td>foo2</td><td>有参数、无默认值、无返回值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>param1</td><td>int</td><td></td></tr><tr><td>param2</td><td>str</td><td></td></tr><tr><td>param3</td><td>bool</td><td></td></tr><tr><td>param4</td><td>bytes</td><td></td></tr><tr><td>param5</td><td>float</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>foo3</td><td>有参数、有默认值、无返回值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>param1</td><td>int</td><td>0</td></tr><tr><td>param2</td><td>str</td><td>Hello World</td></tr><tr><td>param3</td><td>bool</td><td>False</td></tr><tr><td>param4</td><td>bytes</td><td></td></tr><tr><td>param5</td><td>float</td><td>1.2</td></tr></tbody></table></td><td>None</td></tr><tr><td>foo4</td><td>有参数、有默认值、有返回值
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>param1</td><td>int</td><td>0</td></tr><tr><td>param2</td><td>str</td><td>Hello World</td></tr><tr><td>param3</td><td>bool</td><td>False</td></tr><tr><td>param4</td><td>bytes</td><td>Hello World</td></tr><tr><td>param5</td><td>float</td><td>1.2</td></tr></tbody></table></td><td>str</td></tr></tbody></table></td></tr><tr><td>ADBAtomModule</td><td>
    TCLTV测试设备源原子接口ADB连接模块类
    </td><td></td></tr><tr><td>AudioAtomModule</td><td>
    TCLTV测试设备源原子接口音频模块类
    </td><td></td></tr><tr><td>CaptureCardAtomModule</td><td>
    TCLTV测试设备源原子接口采集卡模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>read</td><td>读取图像数据
</td><td></td><td>tuple</td></tr><tr><td>record_video</td><td>录制视频
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>duration</td><td>int</td><td>10</td></tr><tr><td>size</td><td>tuple</td><td><ul><li>1920</li><li>1080</li></ul></td></tr></tbody></table></td><td>str</td></tr><tr><td>take_picture</td><td>将当前图像保存到图片文件
</td><td></td><td>str</td></tr></tbody></table></td></tr><tr><td>CommSerialAtomModule</td><td>
    TCLTV测试设备源原子接口指令串口模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>interrupt</td><td>写入Ctrl+C，强制退出在执行的命令
</td><td></td><td>None</td></tr><tr><td>read</td><td>从串口读取指定字节的数据
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>size</td><td>int</td><td>1024</td></tr></tbody></table></td><td>bytes</td></tr><tr><td>read_all</td><td>从串口读取所有数据
</td><td></td><td>bytes</td></tr><tr><td>readline</td><td>从串口读取一行数据
</td><td></td><td>bytes</td></tr><tr><td>readlines</td><td>从串口读取多行数据
</td><td></td><td>bytes</td></tr><tr><td>search_all</td><td>从串口读取的数据中搜索关键字，发现所有关键字，返回True，否则超时后返回False
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>timeout</td><td>int</td><td>20</td></tr></tbody></table></td><td>bool</td></tr><tr><td>search_one</td><td>从串口读取的数据中搜索关键字，只要发现任意一个关键字，即可返回True，否则超时后返回False
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>keywords</td><td>list</td><td></td></tr><tr><td>ignore_case</td><td>bool</td><td>False</td></tr><tr><td>timeout</td><td>int</td><td>5</td></tr></tbody></table></td><td>bool</td></tr><tr><td>send_command</td><td>发送命令
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>str</td></tr><tr><td>send_hex_command</td><td>发送hex命令
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>bytes</td></tr><tr><td>write</td><td>写入字符串数据
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>write_hex</td><td>写入hex数据，如 `A1 B2 C3`
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr></tbody></table></td></tr><tr><td>GRPCAtomModule</td><td>
    TCLTV测试设备源原子接口gRPC模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>check_heart_beat</td><td>gRPC心跳检测接口
</td><td></td><td>str</td></tr><tr><td>get_audio_option</td><td>获取音效
</td><td></td><td>int</td></tr><tr><td>get_picture_mode</td><td>获取图效
</td><td></td><td>None</td></tr><tr><td>set_audio_option_by_grpc</td><td>设置音效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>None</td></tr><tr><td>set_picture_mode</td><td>设置图效
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>value</td><td>int</td><td></td></tr></tbody></table></td><td>bool</td></tr></tbody></table></td></tr><tr><td>InfraredSerialAtomModule</td><td>
    TCLTV测试设备源原子接口红外遥控串口模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>read_all</td><td>从串口读取所有数据
</td><td></td><td>bytes</td></tr><tr><td>send_hex_command</td><td>发送hex命令
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>bytes</td></tr><tr><td>send_key</td><td>发送键码，若指定键key，则通过KEYCODES键码表查询其码code，
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>key</td><td>str</td><td>None</td></tr><tr><td>code</td><td>str</td><td>None</td></tr><tr><td>keycodes</td><td>dict</td><td><table border="1"><tr><th>CAMERA</th><td></td></tr><tr><th>POWER</th><td>FE DF 4F 05 AB E1</td></tr><tr><th>MUTE</th><td>FE DF CF 0F 03 C3</td></tr><tr><th>.</th><td></td></tr><tr><th>0</th><td>FE DF CF 00 F3 3C</td></tr><tr><th>1</th><td>FE DF CF 08 73 B4</td></tr><tr><th>2</th><td>FE DF CF 04 B3 78</td></tr><tr><th>3</th><td>FE DF CF 0C 33 F0</td></tr><tr><th>4</th><td>FE DF CF 02 D3 1E</td></tr><tr><th>5</th><td>FE DF CF 0A 53 96</td></tr><tr><th>6</th><td>FE DF CF 06 93 5A</td></tr><tr><th>7</th><td>FE DF CF 0E 13 D2</td></tr><tr><th>8</th><td>FE DF CF 01 E3 2D</td></tr><tr><th>9</th><td>FE DF CF 09 63 A5</td></tr><tr><th>UP</th><td>FE DF AF 09 65 C3</td></tr><tr><th>DOWN</th><td>FE DF AF 01 E5 4B</td></tr><tr><th>LEFT</th><td>FE DF AF 06 95 3C</td></tr><tr><th>RIGHT</th><td>FE DF AF 0E 15 B4</td></tr><tr><th>OK</th><td>FE DF FF 02 D0 2D</td></tr><tr><th>HOME</th><td>FE DF 0F 01 EF E1</td></tr><tr><th>VOLUME+</th><td>FE DF 4F 0F 0B 4B</td></tr><tr><th>VOLUME-</th><td>FE DF 4F 07 8B C3</td></tr><tr><th>P+</th><td>FE DF 4F 0B 4B 0F</td></tr><tr><th>P-</th><td>FE DF 4F 03 CB 87</td></tr><tr><th>RED</th><td>FE DF 0F 00 FF F0</td></tr><tr><th>GREEN</th><td>FE DF 7F 01 E8 96</td></tr><tr><th>YELLOW</th><td>FE DF 7F 02 D8 A5</td></tr><tr><th>BLUE</th><td>FE DF BF 01 E4 5A</td></tr><tr><th>PICTURE</th><td></td></tr><tr><th>EPG</th><td></td></tr><tr><th>TV</th><td></td></tr><tr><th>MEDIA</th><td></td></tr><tr><th>SETTING</th><td>FE DF 3F 0F 0C 3C</td></tr><tr><th>FREEZE</th><td></td></tr><tr><th>INFO</th><td></td></tr><tr><th>CN-INFO</th><td></td></tr><tr><th>SOURCE</th><td>FE DF 5F 0C 3A 69</td></tr><tr><th>NEXT</th><td></td></tr><tr><th>PLAY</th><td>FE DF 8F 0A 57 D2</td></tr><tr><th>PAUSE</th><td>FE DF 8F 09 67 E1</td></tr><tr><th>FAST-BACK</th><td>FE DF 8F 0B 47 C3</td></tr><tr><th>FAST-FORWARD</th><td>FE DF 8F 03 C7 4B</td></tr><tr><th>STOP</th><td>FE DF 8F 0F 07 87</td></tr><tr><th>LIST</th><td>FE DF 6F 08 79 1E</td></tr><tr><th>OPTION</th><td>FE DF 7F 03 C8 B4</td></tr><tr><th>MENU</th><td>FE DF 9F 0B 46 D2</td></tr><tr><th>EXIT</th><td>FE DF 0F 06 9F 96</td></tr><tr><th>BACK</th><td>FE DF 4F 0E 1B 5A</td></tr><tr><th>LANGUAGE</th><td>FE DF BF 0F 04 B4</td></tr><tr><th>SUBTITLE</th><td>FE DF 1F 00 FE E1</td></tr><tr><th>TEXT</th><td>FE DF 8F 07 87 0F</td></tr><tr><th>ZOOM</th><td></td></tr><tr><th>NETFLIX</th><td>FE DF 7F 0F 08 78</td></tr><tr><th>YOUTUBE</th><td></td></tr><tr><th>AMAZON</th><td></td></tr><tr><th>T</th><td></td></tr><tr><th>HISTORY</th><td></td></tr><tr><th>CINEMA</th><td></td></tr><tr><th>F-BACK</th><td>FE DF 4F 0E 1B 5A</td></tr><tr><th>F-P-IN</th><td>FE EF 35 A0 FC 03</td></tr><tr><th>F-P-OUT</th><td>FE DF 35 A0 FC 69</td></tr><tr><th>F-P-EXIT</th><td></td></tr><tr><th>F-PW-ENTER</th><td>FE DF 79 65 A8 B4</td></tr><tr><th>F-PW-EXIT</th><td>FE DF 79 6D 28 3C</td></tr><tr><th>F-OOB</th><td>FE DF B9 68 74 A5</td></tr><tr><th>F-AV1</th><td>FE DF FE 17 80 69</td></tr><tr><th>F-AV2</th><td>FE DF FE 1B 40 A5</td></tr><tr><th>F-VGA</th><td>FE DF FE 11 E0 0F</td></tr><tr><th>F-HDMI1</th><td>FE DF FE 1E 10 F0</td></tr><tr><th>F-HDMI2</th><td>FE DF FE 16 90 78</td></tr><tr><th>F-HDMI3</th><td>FE DF FE 1A 50 B4</td></tr><tr><th>F-HDMI4</th><td>FE DF FE 12 D0 3C</td></tr><tr><th>F-USB</th><td>FE DF FE 1C 30 D2</td></tr><tr><th>F-3D-ON</th><td>FE DF 3E 18 7C 5A</td></tr><tr><th>F-3D-OFF</th><td>FE DF 3E 14 BC 96</td></tr><tr><th>F-SOURCE</th><td>FE DF 5F 0C 3A 69</td></tr><tr><th>F-MIC-ON</th><td>FE DF 7E 16 98 F0</td></tr><tr><th>F-MIC-OFF</th><td>FE DF 7E 1E 18 78</td></tr><tr><th>F-WIFI</th><td>FE DF 79 64 B8 A5</td></tr><tr><th>F-MUTE-ON</th><td>FE DF 7E 19 68 0F</td></tr><tr><th>F-MUTE-OFF</th><td>FE DF 7E 11 E8 87</td></tr><tr><th>F-C-TEMP</th><td>FE DF BE 1E 14 B4</td></tr><tr><th>F-M1</th><td>FE DF DE 11 E2 2D</td></tr><tr><th>F-M2</th><td>FE DF DE 1E 12 D2</td></tr><tr><th>F-SN-ON</th><td>FE DF 7E 15 A8 C3</td></tr><tr><th>F-SN-OFF</th><td>FE DF 7E 1D 28 4B</td></tr><tr><th>F-L-SR-ON</th><td>FE DF 7E 1B 48 2D</td></tr><tr><th>F-L-SR-OFF</th><td>FE DF 7E 13 C8 A5</td></tr><tr><th>THREE-IN</th><td></td></tr><tr><th>TCL-HOME</th><td>FE DF EF 0F 01 E1</td></tr><tr><th>LIGHT+</th><td>FE DF 6F 06 99 F0</td></tr><tr><th>LIGHT-</th><td>FE DF 6F 0A 59 3C</td></tr><tr><th>IMAGE-TYPE</th><td>FE DF 6F 02 D9 B4</td></tr><tr><th>AV1</th><td>FE DF FE 17 80 69</td></tr><tr><th>AV2</th><td>FE DF FE 1B 40 A5</td></tr><tr><th>VGA</th><td>FE DF 9E 18 76 F0</td></tr><tr><th>HDMI1</th><td>FE DF FE 1E 10 F0</td></tr><tr><th>HDMI2</th><td>FE DF FE 16 90 78</td></tr><tr><th>HDMI3</th><td>FE DF FE 1A 50 B4</td></tr><tr><th>HDMI4</th><td>FE DF FE 12 D0 3C</td></tr><tr><th>CMP1</th><td>FE DF FE 15 A0 4B</td></tr><tr><th>CMP2</th><td>FE DF FE 19 60 87</td></tr><tr><th>USB</th><td>FE DF FE 1C 30 D2</td></tr><tr><th>P</th><td>FE DF 35 A0 FC 69</td></tr><tr><th>PW</th><td>FE DF 79 6D 28 3C</td></tr><tr><th>WIFI</th><td>FE DF 79 64 B8 A5</td></tr><tr><th>MIC</th><td>FE DF 7E 16 98 F0</td></tr><tr><th>3D</th><td>FE DF 3E 14 BC 96</td></tr><tr><th>SN</th><td>FE DF 7E 15 A8 C3</td></tr><tr><th>D.TEST</th><td>FE DF 79 6C 38 2D</td></tr><tr><th>SIZE</th><td>FE DF 75 A6 98 4B</td></tr><tr><th>PATTLE</th><td>FE DF 19 60 FE 87</td></tr><tr><th>C.TEMP</th><td>FE DF BE 1E 14 B4</td></tr><tr><th>PAT</th><td>FE DF 0F 00 FF F0</td></tr><tr><th>M1</th><td>FE DF DE 1E 12 D2</td></tr><tr><th>M2</th><td>FE DF DE 16 92 5A</td></tr><tr><th>SET</th><td>FE DF BF 01 E4 5A</td></tr></table></td></tr></tbody></table></td><td>None</td></tr><tr><td>write_hex</td><td>写入hex数据，如 `A1 B2 C3`
</td><td><table border="1"><thead><tr><th>参数名称</th><th>参数类型</th><th>参数默认值</th></tr></thead><tbody><tr><td>data</td><td>str</td><td></td></tr></tbody></table></td><td>None</td></tr></tbody></table></td></tr><tr><td>PowerAtomModule</td><td>
    TCLTV测试设备源原子接口电源模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>power_off</td><td>给TCL TV设备断电
</td><td></td><td>bool</td></tr><tr><td>power_on</td><td>给TCL TV设备上电
</td><td></td><td>bool</td></tr></tbody></table></td></tr></tbody></table></td></tr><tr><td>RPIDevice</td><td>
    树莓派设备类
    </td><td></td></tr><tr><td>Software</td><td>
    代表所有测试软件类
    </td><td></td></tr><tr><td>PCDevice</td><td>
    PC主机设备类
    </td><td><table border="1"><thead><tr><th>模块类名称</th><th>模块类描述</th><th>方法</th></tr></thead><tbody><tr><td>NetworkAtomModule</td><td>
    PC测试设备源原子接口电源模块类
    </td><td><table border="1"><thead><tr><th>方法名称</th><th>方法描述</th><th>方法参数</th><th>返回值类型</th></tr></thead><tbody><tr><td>get_ip_address</td><td>获取IP地址
</td><td></td><td>str</td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table>